.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin: 20px;
}

.control {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.table__wrap {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main {
  display: flex;
  gap: 2px;
}

.summ {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.round {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px blue solid;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.light {
  background-color: yellow;
}

.percentage {
  background-color: transparent;
  position: relative;
  color: darkgray;
}

.percentage--background {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; 
  background-color: blue;
  border-radius: 5px 0 0 5px;
  width: 0%;
}

.item:active {
  background-color: aquamarine;
}

.item--summ {
  border: 2px red solid;
}

.item--round {
  border: 2px olivedrab solid;
}

